@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Fredoka";
}
body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 2px;
}
hr.substyle{
    border:3px solid  rgb(131, 253, 196);
    border-radius: 2px;
    width: 70px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
    height: fit-content;
    margin: 15px;
    padding:  20px 0px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.553);
}
#quote{
    background-color: rgb(136, 238, 204);
    color: rgb(36, 34, 34);
    padding: 10px;
    font-size: 35px;
    border-radius: 50%;
    z-index: 1;
    margin-top: 8px;
    margin-bottom: -65px;
    margin-left: -200px;
}
#profile-picture{
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 50%;
    box-shadow: 15px -5px rgb(99, 239, 193);
    margin-top:8px;
}
#name{
    margin: 3px;
    font-weight:500;
}
#work{
    margin: 3px;
    font-weight:400;
    font-size: 17px;
    color: rgb(74, 161, 169);
}
#review{
    margin: 20px 40px;
    text-align: justify;
}

.material-icons#left,#right{
    color: rgb(36, 34, 34);
    font-size: 40px;
}
.material-icons#left:hover,#right:hover{
    scale:1.1;
}
button{
    border: none;
    background-color:  rgb(99, 239, 193);
    color: rgb(36, 34, 34);
    font-size: medium;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: -8px;
}
button:hover{
    background-color:  rgb(142, 246, 212);
    scale:1.03;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.374);
}
}